In [2]:
import pandas as pd
import gempy as gp

# Importing aux libraries
from ipywidgets import interact
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

# For visualization
import pyvista as pv
from gempy.plot import visualization_2d_pro as vv
from gempy.plot import vista

# For interactive dataframes
import qgrid

In [18]:
contacts = pd.read_csv('data/contacts_clean.csv', index_col=0)
contactOrientations = pd.read_csv('data/orientations_clean.csv')
faults = pd.read_csv('data/faults.csv')
faultOrientations = pd.read_csv('data/fault_orientations.csv')

In [23]:
contacts.head()

                   X             Y      Z  formation
index
0      595340.779975  7.475217e+06  648.0  A_mgn_PMI
1      598240.030215  7.475074e+06  647.0  A_mgn_PMI
2      599321.509484  7.475170e+06  638.0  A_mgn_PMI
3      600440.668471  7.475132e+06  662.0  A_mgn_PMI
4      602892.489608  7.474514e+06  644.0  A_mgn_PMI

In [25]:
faultOrientations.head()

,X,Y,Z,DipDirection,dip,DipPolarity,formation
0,579998.531610,7.491862e+06,647.0,32.809910,-999,1,Fault_12644
1,518184.840465,7.494526e+06,422.0,52.520908,-999,1,Fault_2235
2,575026.937248,7.490126e+06,657.0,43.275853,-999,1,Fault_11442
3,526241.489689,7.494362e+06,429.0,55.701468,-999,1,Fault_3496
4,512998.059857,7.494911e+06,591.0,26.547159,-999,1,Fault_5298